button{
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    color: white;
    font-size: clamp(1rem, 2.5vh, 1.2rem);
}

button:hover{
    filter: brightness(95%);
}

.mainSection{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
}

.tableSection{
    width: 100%;
    height: 40%;
    min-height: 160px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:2%;
}

.table{
    display: flex;
    flex-direction: column;
    height: 90%;
    background-color: #EFEFEF;
    width: 100%;
}

.header{
    font-weight: 300;
    height: 20%;
    max-height: 40px;
    background-color: RGB(49, 68, 43);
    color: #ffffff;
    padding-inline: 10px;
    justify-self: center;
}

.header p {
    font-style: italic;
    font-size: 13px;
}

.overflowTable{
    overflow-y: scroll;
    height: 100%;
}

.row{
    display: grid;
    grid-template-columns: auto 1fr auto minmax(50px, 5%);
    align-content: center;
    min-height: 30px;
    column-gap: 15px;
    padding-inline: 15px;
    cursor:default;
}

.row.product:hover, .row.extra:hover{
    background-color: #8ba09e;
    color: white;
}

.row:focus{
    background-color: rgb(162, 185, 183);
    color: white;
}


.row p{
    height: 100%;
    font-size: clamp(1rem, 2.5vh, 1.5rem);
}

.row.extra{
    min-height: 15px;
    font-style: italic;
}

.row.extra p {
    font-size: 12px;
}

.columnProduct{
    display: flex;
    flex-direction: column;
}

.commandDetails{
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(1rem, 2.5vh, 1.5rem);
    height: 10%;
    position: relative;
}

.staticButtonDiv{
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 40%;
}

.buttonSection{
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: calc(60% - 17px);
    width: 95%;
    margin-block: 5px;
}

.mainStaticButtonDiv{
    display: grid;
    grid-template-columns: auto auto auto;
    gap:2px;
    height: 30%;

}

.mainStaticButton{

}

.tableButton{
    background-color: #232222;
}

.cancelButton{
    background-color: #e41616;
}

.sendButton{
    background-color: #438B2D;
}

.secondStaticButtonDiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2px;
    height: calc(70% - 2px);
}

.secondStaticButton{
    color: white;
    font-weight: 400;
}

.tableInput:focus{
    outline: none;
}

.buttonExtra{
    width: 100%;
}



@media screen and (min-width: 900px) {
    
    .mainSection{
        flex-direction: row;
        justify-content: space-between;
        height: calc(100vh - 60px);
        width: 94%;
        max-width: 1800px;
    }

    .tableSection{
        width: 45%;
        height: 80%;
    }

    .buttonSection{
        width: 45%;
        height: 80%;
        margin-top: 0;
    }

    .table{
        border-radius: 8px;
    }

    .header{
        border-radius: 8px 8px 0px 0px;
    }
}