.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2A2A2A;
    color: white;
    text-align: center;
    height: 90px;
    max-height: 10vh;
    width: 100%;
    margin-top: auto;
}