.gestioncompteuser {
    background-color: #5c8f4d;
    color: white;
    text-align: center;
    width: 80%;
    height: 50px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 50px;
}

.buttonsRetour, 
.buttonsStat, 
.buttonsGstionCompteUser {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.buttonsRetour button, 
.buttonsStat button, 
.buttonsGstionCompteUser button {
    background-color: #4A6C40;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttonsRetour button {
    font-size: 24px;
    padding: 32px 140px;
}

.buttonsStat button {
    padding: 10px 150px;
}

.buttonsGstionCompteUser button {
    margin: 10px;
    padding: 28px 48px;
}

.buttonsRetour button a, 
.buttonsStat button a, 
.buttonsGstionCompteUser button a {
    color: white;
    text-decoration: none;
}

.GestionComptesUserContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 350px;
    height: 425px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 30px auto;
}

.categoryItem {
    background-color: #f5f5f5;
    width: 100px;
    height: 70px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
