.servicesContainer {
    background-color: #5c8f4d;
    color: white;
    text-align: center;
    width: 38vh;
    height: 50px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 50px;
}

.buttonsRetour, 
.buttonsNew, 
.buttonsMonCompte {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.buttonsRetour button {
    background-color: #4A6C40;
    color: white;
    font-size: 24px;
    padding: 32px 142px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttonsNew button, 
.buttonsMonCompte button {
    background-color: #4A6C40;
    color: white;
    font-size: 16px;
    width: 37vh;
    height: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttonsRetour button a, 
.buttonsNew button a, 
.buttonsMonCompte button a {
    color: white;
    text-decoration: none;
}

.categoriesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
   width: 350px;
    height: 425px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 30px auto;
}

.categoryItem {
    background-color: #a3a3a3;
    width: 100px;
    height: 70px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 @media (min-width:768px){
    .mainContainer{
        width: 80%;
        height: 90vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

.servicesContainer {
    width: 40vw;
    height: 6vh;
 }

 .categoriesContainer{
    width: 40vw;
    height: 50vh;
 }

 .buttonsNew button{
    width: 35vw;
    height: 6vh;
    font-size: 24px;
 }

 .buttonsMonCompte button{
    width: 35vw;
    height: 6vh;
    font-size: 24px;
 }

 .buttonsRetour button{
    width: 35vw;
    height: 6vh;
    font-size: 24px;
 }
 .categoryItem{
    width: 12vw;
    height: 8vh;
    font-size: 24px;

 }
 }
