/* Header */
.header {
    display: flex;
    align-items: center;
    background-color: RGB(49, 68, 43);
    color: white;
    height: 80px;
    width: 100%;
    padding-inline: 10px;
}


/* Titre */
.headerTitle {
    font-size: 28px;
    font-weight: 300;
    white-space: preserve nowrap;
    grid-column: 2;
    padding-inline: 20px;
}


/* Bouton menu burger */
.burgerMenu {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    align-self: center;
    justify-self: start;
    padding: 7px;
    border-radius: 6px;
    
}

.burgerMenu:hover{
    background-color: #7e7e7e8a;

}


.burgerMenu span {
    width: 28px;
    height: 3px;
    border-radius: 50px;
    background-color: white;
}

.navBar{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100%;
}

.closeDiv{
    cursor: pointer;
    padding: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 25px;
    border-radius: 90px;

}

.closeDiv:hover{
    
    background-color: #7e7e7e8a;
}


.closeDiv span{
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    width: 20px;
    height: 4px;
    background-color: #000;
    border-radius: 10px;
}


/* Menu */
.navLinks {
    position: absolute;
    top: 0px;
    left: 0;
    height: 100vh;
    width: 70%;
    max-width: 400px;
    background-color: white;
    transition: transform 0.5s ease-in-out;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

.navLinks span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
}

.navLinks span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.navLinks.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.navLinks.closing {
    transform: translateX(-100%);
    opacity: 1;
    visibility: visible;
}

.navLinks ul {
    display: flex;
    flex-direction: column;
    height: 100vh;
    list-style: none;
    margin: 0;
    padding: 0;
    gap:10%;
    font-size: 20px;
    justify-content: center;
}

.navLinks li {
    margin: 0px 50px;
}

.navLinks a {
    text-decoration: none;
    color: #000;

}

.navLinks a:hover {
    text-decoration: underline;
}

@media screen and (min-width : 800px) {
    

    .header {
        padding-inline: 5%;
    }
    .headerTitle {
        grid-area: 1 / 1 / 1 / 1;
        font-size: 28px;
        font-weight: 300;
        white-space: preserve nowrap;
        align-self: center;
        padding: 0;
        cursor: pointer;
    }

    .navBar{
        grid-template-columns: 50% 50%;
        align-items: center;
    }

    .navLinks div{
        display: none;
    }

    .navLinks {
        grid-area: 1 / 2 / 1 / 2;
        position:relative;
        height: auto;
        width: 80%;
        background-color: unset;
        transition: transform 0.5s ease-in-out;
        transform: translateX(0);
        opacity: 1;
        visibility:visible;
        z-index:0;
        justify-self: end;
        max-width: 500px;
        min-width: 400px;
        
    }

    .navLinks ul {
        display: flex;
        flex-direction:row;
        width: auto;
        height:auto;
        justify-content: space-between;
        gap: 0;
    }

    .navLinks li {
        margin: 0px 0px;
    }
    
    .navLinks a {
        text-decoration: none;
        color: #ffffff;
        font-size: 18px;
    }

    .burgerMenu {
        margin-right: 20px;
        
    }


    
    
    
}