button{
    border-radius: 5px;
    border: 0px;

}

.tableSection{
    width: 100%;
    height: calc(40vh - 60px);
    min-height: 160px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.table{
    display: flex;
    flex-direction: column;
    height: 90%;
    background-color: #EFEFEF;
    width: 100%;
}

.header{
    font-weight: 300;
    height: 20%;
    max-height: 40px;
    background-color: RGB(49, 68, 43);
    color: #ffffff;
    padding-inline: 10px;
}

.header p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 13px;
}

.overflowTable{
    overflow-y: scroll;
    height: 80%;
}

.row{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    justify-items: center;
    align-content: center;
    min-height: 30px;
    column-gap: 15px;
    padding-inline: 15px;
}

.row:focus{
    background-color: #9DB5B2;
    color: white;
}

.row p{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.commandDetails{
    display: flex;
    width: 95%;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 5px;
}

.staticButtonDiv{
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 40%;
}

.buttonSection{
    height: calc(60vh - 15px);
    width: 95%;
    margin-block: 5px;
}

.mainStaticButtonDiv{
    display: grid;
    grid-template-columns: auto auto auto;
    gap:2px;
    height: 35%;

}

.mainStaticButton{

}

.tableButton{
    background-color: #989898;
}

.cancelButton{
    background-color: #E86D6D;
}

.sendButton{
    background-color: #438B2D;
}

.secondStaticButtonDiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2px;
    height: calc(65% - 2px);
}

.secondStaticButton{
}

.variableButtonDiv{
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, auto));
    grid-auto-rows: 1fr; 
    margin-top: 2px;
    gap: 2px;
    height: calc(60%);
}



